body {
    background: linear-gradient(to bottom, #f4f4f9, white);
    width: 100% ;
    height: 100%;
    min-height: 90vh;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    overflow: auto;
}
header{
  width: 40%;
  text-align: center;
}
main{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  flex-grow: 1;
  margin-top: 5em;
  width: 80%;
  min-height: calc(65vh - 100px); /* 100px é um exemplo da altura do footer */


}
/* Rodapé */
footer{
  position: relative;
  bottom: 0;
}

/* Configuração do formato do formulário de cadastro. */
.cadastro{
  width: 800px;
  padding: 20px;
  background-color: rgba(255,255,2555, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* Estiliza toda tah h3 de título */
h3{
  font-size: 24px;
  margin-bottom: 10px;
}
.subtitulo{
  align-items: center;
}
input{
  display: block;
  margin: 10px auto;
  width: 100%;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 16px;
}
.estrutura{
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  gap: 10px;
  /* align-content: space-between; */
}
.estrutura label {
  /* width: 120px; Define uma largura fixa para os labels */
  text-align: right; /* Alinha o texto do label à direita */
}
.estrutura input {
  min-width: 300px;
  flex: 1; /* Faz com que os inputs ocupem o restante do espaço disponível */
}
.regiao{
  width: 150px;
}
.rota-texto{
  margin-right: 21px;
}
.rota-moto{
  margin-right: 10px;
}

.entrada{
    border-radius: 24px;
    border: 1px solid black;
    padding: 1em;
    width: 90%;
    color: black;
}
input::-webkit-inner-spin-button{appearance: none;}

/* Estilização para a posição do login */
.nome_login{
position: absolute;
top: 0;
right: 0;

display: flex;
flex-direction: column;
align-items: flex-end;
}
/* organizar a orientação dos link do menu de navegação */
.menu{
  display: flex;
  justify-content: space-evenly;
}
li{
  list-style: none;
}
/* Estiliza os botões de navegação */
.botao_nav{
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  text-align: center;
  align-content: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.botao_nav:hover{
  /* background-color:#6DA170; */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.botao_nav:active{
  background-color: darkgreen;
  transform: scale(0.98);
}
/* Estiliza os link das páginas */
.link{
  color: white;
  text-decoration: none;
}
.link_logout{
  color: blue;
  text-decoration: none;
}
.link_logout:visited{
  color: blue;
}
.aviso{
  display: flex;
  justify-content: center;
}
.erro{
  color: red;
}
.opcoes{
  display: flex;
  justify-content: flex-start;
}
/* Botões salva, cancelar, editar, deletar */
.salvar{
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin-right: 15px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cancelar{
background-color: #6c757d;
color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
    margin-right: 15px;

  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.editar{
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.deletar{
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* Configuração do Menu Hamburguer */


.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
}

.dropdown-menu ul li {
    display: block;
    position: relative;
    
}

.dropdown-menu ul li a {
    text-decoration: none;
    display: inline-block;
    /* padding: 10px; */
    transition: background .3s;
}


/*sub menu*/
.dropdown-menu ul ul {
    display: none;
    top: 100%;
    left: 0;
    position: absolute;
}

.dropdown-menu ul li:hover ul {
    display: block;
}

.dropdown-menu ul ul {
    width: 150px
}

.dropdown-menu ul ul li a {
    display: block;
}

/* Configuração do flash */
.flash-messages {
    list-style: none;
    padding: 10px;
    background-color: #dff0d8;
    color: red;
    border: 1px solid #3c763d;
    margin-bottom: 10px;
}

/* Configuração da tabela. */
table {
  font-family: arial, sans-serif;
  border: 1px solid #dddddd;
  /* border-collapse:collapse; */
  border-radius: 15px;
  width:100%;
}
.nome_tabela{
  width: 70%;
}
.regiao_tabela{
  width: 10%;
}
.telefone_tabela{
  width: 20%;
}
td, th {
  /* border: 1px solid #dddddd; */
  border-radius: 15px;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Configuração do Accordion */
#container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.accordion {
    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
span{
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.accordion-header {
    width: 100%;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;
}

.accordion-header span {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accordion-body {
    color: #444;
    font-size: 14px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .3s;
}

.accordion-body.active {
    height: 100%;
    opacity: 1;
    padding: 5px 0px;
}

.arrow {
    transition: transform .2s linear;
}

.accordion:has(.active) .arrow {
    transform: rotate(180deg);
}