<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    
    <title>Início</title>
  </head>
  <body>
    <div class="nome_login">
    <p class="texto">{{nome}} <a class="link_logout" href="{{ url_for('logout') }}"> Encerrar sessão</a></p>
    </div>
    <header>
      <h1 class="titulo">Transporte Seguro</h1>
      <nav class="dropdown-menu">
        <ul class="menu">
          <li class="botao_nav"><a class="link" href="/home">Início</a></li>
          <li class="botao_nav">Cadastrar
            <ul class="lista-menu">
              <li class="botao_nav"><a class="link" href="/cadastro_motoristas">Motoristas</a></li>
              <li class="botao_nav"><a class="link" href="/cadastro_alunos">Alunos</a></li>
          </ul>
          </li>
          <li class="botao_nav">Exibir
            <ul class="lista-menu">
              <li class="botao_nav"><a class="link" href="/motoristas">Motoristas Cadastrados</a></li>
              <li class="botao_nav"><a class="link" href="/alunos">Alunos Cadastrados</a></li>
            </ul>
          </li>
          <li class="botao_nav"><a class="link" href="/rotas">Rotas</a></li>
        </ul>
      </nav>
    </header>
    <main>
        <p class="texto">O transporte seguro tem por objetivo organizar e dar maior transparência ao transporte dos alunos além de agilizar as rotas dos motoristas. </p>
        <p class="texto">Navegue pelo menu no topo da página para as funções já disponíveis. Aqui teremos uma breve explicação de cada opção para melhorar a experiência da navegação.
        Sempre que precisar volte paraestá página para rever as informações.</p>
        <ul>
          <li class="texto"> Na seção cadastrar temos duas opções: <li class="texto">1. Motoristas - Para cadastro dos motoristas da escola.</li>
          <li class="texto">2.  Alunos - Para cadastrar alunos que serão transportados. </li> 
            </li>
            <li class="texto">Na seção exibir é o local em que é possível realizar a consulta aos motoristas e alunos já cadastrados, bem como realizar a alterações e apagar os cadastros.</li>
            <li class="texto">Na seção de rotas é possível verificar cada rota dos motoristas e seus respectivos alunos cadastrados.</li>
            
        </ul>
    </main>
<footer>
        <p>Desenvolvido em grupo pelos alunos do grupo DRP07-PJI1 do Eixo de Computação da UNIVESP</p>
    </footer>
    </body>
</html>
