<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Transporte Seguro</title>
</head>
<body>
    <header>
<h1 class="titulo">Transporte Seguro</h1>
    </header>
    <main>
<p class="texto"> Boas vindas a página de controle do transporte seguro. <br> Esse projeto visa auxiliar a organização das rotas e transporte dos alunos de suas casas até a instituição.</p>
    <p class="texto">Para acessar as informações clique no botão entrar logo abaixo.</p>
    <a  href="/login"><button class="botao_nav">Entrar</button></a>
    </main>
    <footer>
        <p>Desenvolvido em grupo pelos alunos do grupo DRP07-PJI1 do Eixo de Computação da UNIVESP</p>
    </footer>    
</body>
</html>